*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{background-color: #D7D4B5; max-width: 100%;}
img{
    max-width: 100%;
}


/*header*/
header{
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}
#nav-bar img{
    width: 42px;
}
.dp{display: none;}
header ul li a {
    text-decoration: none;
    color: #353107;
    font-size: 13px;
  }
/**/
.drop{
    display: none;
    list-style: none;
    background-color: #C4BF91;
    box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.70);
    border-radius: 7px;
    width: 31%;
    height: 27vh;  
    padding-top: 2.2vh; 
    position: absolute;
    top: 5vh;
    left: 65vw ;
    z-index: 999;
}
.drop li{
    padding-left: 2vw;
    padding-bottom: 1.8vh;
    
}
.drop li a:hover{color: #9990409c ;}
.drop li a{
font-size: 1rem;
font-weight: 500;
}
.drop.open{display: block;}

/**/
.new div{display: none;}
#educations{
    display: block;
    position: absolute;
    top:10px ;
    left: 42vw ;
    color: #353107;
    font-size: 16px;
    font-weight: 600 ;
}



.hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    width: 22px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 22px;

  }
.hamburger-icon:hover{ .bar {background-color: #999040;}}
.bar {
    width: 100%;
    height: 24%;
    align-self: center;
    background-color: #212120;
    padding-bottom: 2px;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
    
  }
.hamburger-icon.open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}




/*Body*/


/*section1*/
#heading{
    width: 90%;
    display: flex;
    color: #353107;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
}
.heading h1{
    font-size: 1rem;
    margin-bottom: 4vh;
    margin-top: 4vh;
}
.heading h1 span{
    font-size: 1.9rem;
    display: block;
    margin-bottom: 13vh;
}
.heading p{
    font-size: 0.8rem;
    color: #464009;
    margin-bottom: 21vh;
}
.heading{width: 52%;}
#heading .img{
    width: 46%;
    margin-left: 2.3%;
}
.img img{width: 100%;}


/*section2*/
img {border-radius: 3px;}
#contents{
    width: 91%;
    margin: 0 auto 25vh;
}
.content0{
    margin-bottom: 35vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.content0 .asides{
    width: 38%;
    margin-right: 5%;
}
.content0 .descr{
    width: 57%;
}
.content0 .asides img{width: 100%;}
.content0  h4{
    font-size: 1rem;
    color: #353107;
    margin-bottom: 9%;
}
.content0 p{
    font-size: 14px;
}

.text1 figure img{
    width: 31%;
    margin-left: 4.5%;
    transform: rotate(90deg);
    position: absolute;
    top: 125vh;
}
.text2 figure img{
    width: 31%;
    margin-left: 4.5%;
    transform: rotate(90deg);
    position: absolute;
    top: 220vh;
}

figure{
    display: flex;
}
figcaption{
    color: #D7D4B5;
    font-weight: 700;
    font-size: 0.9rem;
    position: absolute;
    left: 20%;
}
.text1 figcaption{top: 133vh;}
.text2 figcaption{top: 228vh;}


/*section3*/

#section3{
    width: 91%;
    margin: 0 auto 15vh;
}
#section3 h1{
    color: #353107;
    font-size: 1.3rem;
    margin-bottom: 7vh;
}
#section3 .section1{margin-top: 0;}
#section3 .section1 img{
    width: 40vw;
    margin-bottom: 4vh;
}
#section3 .section1 p{
    font-size: 14px;
    margin-bottom: 9vh;
}
.p1{
    width: 47vw;
}
.p2{
    width: 91vw;
    font-size: 14px;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
}


.section1 , .section2{
    display: inline-block;
}

/*table*/

table {
    width: 39vw;
    border-collapse: collapse;  
    margin: 20px 0;
    background-color: #F2F1E7;
    height: 11vh;
    margin-top: 0;
    margin-right: 0.5vw;

}

table, th, td {
    border: 1px solid #808080;
}

th, td {
    padding: 1.3vw;
    text-align: center;
}

th {
    background-color: #C4BF91;
}

td {
    width: 50%;
}

thead tr th{
    font-size: 1.2rem;
    font-weight: 500;
}
tbody tr td:first-child  {
    font-weight: 700;
    font-size: 0.7rem;
}
tbody tr td:nth-child(2){
    font-size: 0.8rem;
}

/*Certification*/

#section4{
    width: 91vw;
    margin: 0 auto;
    display: flex;
    height: 60vh;
}
#section4 h1{
    font-size: 1.7rem;
    color: #353107;
    margin-right: 9vw;
}

.dropdown-button {
    background-color: #C4BF91;
    color: black;
    padding: 5px 18px;
    font-size: 16px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
  }
  
  .fa-caret-down {
    margin-left: 2vw;
  }
  
  
  #dropdown-list {
    display: none;
    position: absolute;
    background-color: #C4BF91;
    min-width: 30vw;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
    padding: 0px;
    width: 40vw;
  }
  
  #dropdown-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #dropdown-list li {
    padding: 8px 12px;
  }
  
  #dropdown-list li a {
    text-decoration: none;
    color: #353107;
    font-size: 0.7rem;
    font-weight: 550;
  }
  
  #dropdown-list li a:hover {
    font-weight: 900;
    color: rgb(32, 36, 26);
  }






/*footer*/
footer{
    height: 175px;
    background-color: #A9A25F;
}
.footer{
    margin: 5px auto 27px;
    width: 95%;
    display: flex;
}
.lo {
    width: 6.7%;
    margin-right: 1.68%;
}
.lo img{
    width: 28px;
}
.contact{
    width: 31.5%; 
    margin-right: 3.6%;
    margin-top: 12px;
}
.socialmedias span , .contact span{
    font-size: 14px;
    margin-top: 6px;
}
.contact img{
    width: 21px;
    margin-top: 4px;
}
.contact strong , .contact p{
    font-size: 9px;
}
.copyrights{
    font-size: 9px;
    width: 28%;
    margin-right: 4%;
    margin-left: 6%;
    margin-top: 27px;
}
.per{
    margin-bottom: 7px;
}
#icons{
    width: 66px;
    margin-left: 8px;
    margin-top: 19px;
}
.flexx{
    display: flex;
}
.flexx :nth-child(1){
    margin-right: 16px;
}
#icons  img{
    width: 22px;
    border-radius: 4px;
    margin-right: 16px;
}
.onef{
    margin-bottom: 8px;
}
.socialmedias{width: 20%; margin-top: 12px;}
.socialmedias.spann{margin-left: 12px; }
.contactflow{
    display: flex;
    margin-bottom: 5px;
}
.contactflow strong{
    margin-top: 3px;
}
.address{
    margin-left: 2px;
}

.contact .spann{margin-bottom: 12px;}







/*responsivness through media query*/
/*mobile landscape*/
@media (min-width:520px) and (max-width : 767px){


    
/*header*/
header{
    padding-left: 16px;
    padding-right: 16px;
}
#nav-bar img{
    width: 45px;
}

#educations{
    position: absolute;
    top: 12px;
    font-weight: 600 ;
    font-size: 16px
}
/**/
.drop{
    width: 32%;
    height: 31vh;  
    padding-top: 2.3vh; 
    top: 4.5vh;
    left: 65vw ;
    z-index: 999;
}
.drop li{
    padding-left: 3.1vw;
    padding-bottom: 2.1vh;
    
}
.drop li a:hover{color: #9990409c ;}
.drop li a{
font-size: 1.05rem;
font-weight: 500;
}
.drop.open{display: block;}

/**/


.hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    width: 22px;
    height: 19px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 22px;

  }
  
.bar {
    width: 100%;
    height: 24%;
    align-self: center;
    background-color: #212120;
    padding-bottom: 2px;
    border-radius: 20px;
    
  }
  .hamburger-icon.open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}






/*Body*/


/*section1*/
#heading{
    display: flex;
    color: #353107;
    margin-top: 7vh;

}
.heading h1{
    font-size: 1.1rem;
    margin-top: 5.5vh;
}
.heading h1 span{
    font-size: 1.7rem;
    display: block;
    margin-top: 3vh;
    margin-bottom: 37%;
}
.heading p{
    font-size: 0.9rem;
    margin-bottom: 21vh;
}
.heading{width: 60%;}
#heading .img{
    width: 38%;
    margin-left: 0%;
}


/*section2*/

#contents{
    width: 95vw;
    margin: 0 auto 20vh;
    display: flex;
}
.content0{
    margin-bottom: 0vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.content0 .asides{
    width: 100%;
    margin-right: 2%;
}
.content0 .descr{
    width: 100%;
}
.content0 .asides img{width: 70%; 
    
    margin-bottom: 5vh;
}
#lastimg .asides{
    margin-bottom: 5vh;
}
.content0  h4{
    font-size: 0.7rem;
    margin-bottom: 11%;
}


.text1 figure img{
    all: unset;
    width: 8vw;
    margin-left: 4.5%;
    position: absolute;
    top: 80vh;
    left: 21.5vw;
}
.text2 figure img{
    all: unset;
    width: 8vw;
    margin-left: 4.5%;
    position: absolute;
    top: 80vh;
    left: 52.4vw;
}

figure{
    display: flex;
}
figcaption{
    color: #D7D4B5;
    font-weight: 700;
    font-size: 1.5vw;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.text1 figcaption{top: 82.5vh; left: 27.5vw;}
.text2 figcaption{top: 82.5vh; left:58.5vw;}


/*section3*/

#section3{
    width: 94%;
    margin: 0 auto 15vh;
}
#section3 h1{
    font-size: 1.5rem;
    margin-bottom: 0;
}
#section3 .section1{
    margin-top: 13vh;
     display: flex; 
     margin-right:15px;
    width: 90%;
    }
#section3 .section0{display: flex; margin-left: auto; margin-right: auto; margin-bottom: 0;}
#section3 .section1 img{
    width: 40%;
    height: fit-content;
    margin-bottom: 4vh;
    margin-right: 1vw;
}
#section3 .section1 p{
    font-size: 14px;
    margin-bottom: 9vh;
}
.text{margin-left: 10px;  width: 60%; margin-right: 5px;}
.p1{
    width: 100%;
    overflow: hidden;
    font-size: 1
}
.p2{
    width:55vw;
    font-size: 14px;
    margin-bottom: 10vh;
    margin-left: 2.5vw;
    margin-top: 0;
}


.section1 , .section2{
    display: inline-block;
}

/*table*/
#section2{width: 5%; margin-left: 10px;}
table {
    width: 100%;
    border-collapse: collapse;  
    margin: 20px 0;
    background-color: #F2F1E7;
    height: 0;
    margin-top: 0;
    margin-right: 0.5vw;

}

table, th, td {
    border: 1px solid #808080;
}

th, td {
    padding: 1.3vw;
    text-align: center;
}

th {
    background-color: #C4BF91;
}

td {
    width: 50%;
}

thead tr th{
    font-size: 1.2rem;
    font-weight: 500;
}
tbody tr td:first-child  {
    font-weight: 700;
    font-size: 0.7rem;
}
tbody tr td:nth-child(2){
    font-size: 0.8rem;
}

/*Certification*/

#section4{
    width: 91vw;
    margin: 0 auto;
    display: flex;
    height: 40vh;
}
#section4 h1{
    font-size: 1.7rem;
    color: #353107;
    margin-right: 12vw;
}

.dropdown-button {
    padding: 5px 18px;
    font-size: 17px;
    width: 45vw;
  }
  
  .fa-caret-down {
    margin-left: 2.5vw;
  }
  
  
  #dropdown-list {
    margin-top: 5px;
    padding: 0px;
    width: 45vw;
  }
  
  #dropdown-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  

  #dropdown-list li a {
   
    font-size: 0.9rem;
   
  }




/*footer*/
footer{
    height: 170px;
}
.footer{
    margin: 8px auto 45px;
    width: 95%;
}
.lo {
    width: 8%;
    margin-right: 5px;
    margin-top: 4px;
}
.lo img{
    width: 35px;
}
.contact{
    width: 850px; 
    margin-right: 3.6%;
    margin-top: 4px;
}
.email , .phone , .addresss{
    display: inline-block;
}
.contactflow img , .address{display: inline-block;}
.spann{margin-bottom: 18px;}
.socialmedias span , .contact span{
    font-size: 11px;
    margin-top: 5px;
}
.contact img{
    width: 19px;
    margin-top: 4px;
}
.contact strong , .contact p{
    font-size: 8px;
}
.copyrights{
    font-size: 9px;
    width: 40%;
    margin-right: 3%;
    margin-top: 27px;
}
.per{
    margin-bottom: 10px;
}

#icons{
    width: 66px;
    margin-left: 1px;
    margin-top: 19px;
    display: flex;
}

.flexx :nth-child(1){
    margin-right: 0px;
}
#icons  img{
    width: 20px;
    border-radius: 5px;
    margin-right: 0px;
}
.onef{
    margin-bottom: 0px;
}
.socialmedias{width: 29%; margin-top: 4px;}

.contactflow strong{
    margin-top: 3px;
}
.address{
    margin-left: 2px;
}
.onef :nth-child(1){margin-right: 4px;}
.onef :nth-child(2){margin-right: 4px;}
.twof :nth-child(1){margin-right: 4px;}
.spann span{font-size: 16px;}


  
}






/*tablet portrait*/


/*header*/

@media(min-width:768px){


header{
    padding-left: 18px;
    padding-right: 20px;
    padding-top: 4px;
}
#nav-bar img{
    width: 50px;
}


#educations{
    top:12px ;
    font-weight: 500 ;
    font-size: 21px;
}
/**/
.drop {
    width: 30%;
    height: 41vh;  
    padding-top: 3.6vh; 
    margin-top: 2vh;
    left: 68vw;
    top: 7vh;
}
.drop li{
    padding-left: 3.5vw;
    padding-bottom: 3vh;
    
}
.drop li a{
font-size: 1.5rem;}
/**/


.hamburger-icon {
    gap: 8px;
    width: 30px;
    height: 28px;
    top: 16px;
    right: 34px;

  }
  
.bar {
    width: 100%;
    height: 24%;
    align-self: center;
    background-color: #212120;
    padding-bottom: 2px;
    border-radius: 20px;
    
  }

  .hamburger-icon.open .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open .bar:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
}





/*Body*/


/*section1*/
#heading{
    width: 85%;
    margin-top: 8vh;
}
.heading h1{
    font-size: 1.1rem;
    margin-bottom: 0vh;
    margin-top: 9vh;
}
.heading h1 span{
    font-size: 2.1rem;
    display: block;
    margin-bottom: 30vh;
    margin-top: 3vh;
}
.heading p{
    font-size: 1rem;
    color: #464009;
    margin-bottom: 31vh;
}
.heading{width: 59%;}
#heading .img{
    width: 39%;
    margin-left: 2%;
}
.img img{width: 100%;}


/*section2*/
img {border-radius: 3px;}
#contents{
    width: 90%;
    margin: 0 auto 26vh;
}
.content0{
    margin-bottom: 40vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.content0 .asides{
    width: 28%;
    margin-right: 9%;
}
.content0 .descr{
    width: 62%;
}
.content0 .asides img{width: 100%;}
.content0  h4{
    font-size: 1.1rem;
    color: #353107;
    margin-bottom: 9%;
}
.content0 p{
    font-size: 16px;
}

.text1 figure img{
    width: 15vw;
    margin-left: 5%;
    transform: rotate(90deg);
    position: absolute;
    top: 158vh;
}
.text2 figure img{
    width: 15vw;
    margin-left: 5%;
    transform: rotate(90deg);
    position: absolute;
    top: 240vh;
}

figure{
    display: flex;
}
figcaption{
    color: #D7D4B5;
    font-weight: 700;
    font-size: 0.9rem;
    position: absolute;
    left: 20%;
}
.text1 figcaption{top: 166vh; left: 15vw;}
.text2 figcaption{top: 248vh; left: 15vw;}


/*section3*/

#section3{
    width: 90%;
    margin: 0 auto 23vh;
}
#section3 h1{
    color: #353107;
    font-size: 1.5rem;
    margin-bottom: 8vh;
}
#section3 .section1{margin-top: 0;}
#section3 .section1 img{
    width: 35vw;
    margin-bottom: 5vh;
}
#section3 .section1 p{
    font-size: 16px;
    margin-bottom: 9vh;
}
.p1{
    width: 47vw;
    margin-right: 2vw;
}

.p2{
    width: 90vw;
    font-size: 16px;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
}


.section1 , .section2{
    display: inline-block;
}

/*table*/

table {
    width: 39vw;
    border-collapse: collapse;  
    margin: 20px 0;
    background-color: #F2F1E7;
    height: 11vh;
    margin-top: 0;
    margin-right: 0.5vw;

}

table, th, td {
    border: 1px solid #808080;
}

th, td {
    padding: 1.3vw;
    text-align: center;
}

th {
    background-color: #C4BF91;
}

td {
    width: 50%;
}

thead tr th{
    font-size: 1.3rem;
    font-weight: 500;
}
tbody tr td:first-child  {
    font-weight: 700;
    font-size: 0.75rem;
}
tbody tr td:nth-child(2){
    font-size: 0.95rem;
}

/*Certification*/

#section4{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    height: 70vh;
}
#section4 h1{
    font-size: 1.8rem;
    color: #353107;
    margin-right: 15vw;
}

.dropdown-button {
    background-color: #C4BF91;
    color: black;
    padding: 5px 20px;
    font-size: 17px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 43vw;
  }
  
  .fa-caret-down {
    margin-left: 2vw;
  }
  
  
  #dropdown-list {
    display: none;
    position: absolute;
    background-color: #C4BF91;
    min-width: 30vw;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
    padding: 0px;
    width: 43vw;
    height: 43vh;
  }
  
  #dropdown-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #dropdown-list li {
    padding: 18px 18px;
  }
  
  #dropdown-list li a {
    text-decoration: none;
    color: #353107;
    font-size: 0.99rem;
    font-weight: 550;
  }
  
  #dropdown-list li a:hover {
    font-weight: 900;
    color: rgb(32, 36, 26);
  }





/*footer*/
footer{
    height: 350px;
    width: 100%;
}
.footer{
    margin: 15px auto 27px;
    width: 95%;
}
.lo {
    width: 9%;
    margin-right: 2%;
    margin-top: 4px;
}
.lo img{
    width: 45px;
}
.contact{
    width: 32%; 
    margin-right: 3.6%;
    margin-top: 12px;
}
.socialmedias span , .contact span{
    font-size: 16px;
    margin-top: 28px;
}
.spann{
    margin-top: 18px;
    margin-left: 8px;
    text-align: center;
}
.contact img{
    width: 38px;
    margin-top: 16px;
}
.contact strong , .contact p{
    font-size: 15px;
    margin-bottom: 1px;
}

.copyrights{
    font-size: 16px;
    width: 37%;
    margin-right: 1%;
    margin-top: 138px;
}
.per{
    margin-bottom: 7px;
}
#icons{
    width: 160px;
    margin-left: 0px;
    margin-top: 24px;
    display: flex;
}
.flexx{
    display: block;
}
.flexx :nth-child(1){
    margin-right: 0px;
}
#icons  img{
    width: 33px;
    border-radius: 5px;
    margin-right: 18px;
}
.onef , .twof{display: flex;}
.onef{
    margin-bottom: 8px;
}
.socialmedias{width: 25%; margin-top: 12px;}
.contactflow strong{
    margin-top: 3px;
}
.address{
    margin-left: 2px;
    margin-top: 24px;
}
.email{display: flex;}
.spann span{font-size: 20px;}



}





/*tablet landscpe*/

@media(min-width: 1024px) {

    
header{
    padding-left: 24px;
    padding-right: 26px;
    padding-top: 15px;
}

#educations{
    top:22px ;
    font-weight: 500 ;
    font-size: 28px;
}

/**/
.drop {
    width: 28%;
    height: 41vh;  
    padding-top: 3.6vh; 
    margin-top: 2vh;
    left: 70vw;
}
/**/

.hamburger-icon {
    width: 40px;
    top: 16px;
    right: 36px;
  }
  
.bar {
    width: 100%;
    height: 24%;    
  }



/*Body*/


/*section1*/
#heading{
    width: 78%;
    margin-top: 10vh;
}
.heading h1{
    font-size: 1.2rem;
    margin-bottom: 0vh;
    margin-top: 10vh;
}
.heading h1 span{
    font-size: 2.3rem;
    display: block;
    margin-bottom: 30vh;
    margin-top: 3vh;
}
.heading p{
    font-size: 1.1rem;
    color: #464009;
    margin-bottom: 31vh;
}
.heading{width: 59%;}
#heading .img{
    width: 39%;
    margin-left: 2%;
}
.img img{width: 100%;}



/*section2*/

#contents{
    width: 95vw;
    margin: 0 auto 35vh;
    display: flex;
}
.content0{
    margin-bottom: 0vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.content0 .asides{
    width: 100%;
    margin-right: 2%;
}
.content0 .descr{
    width: 100%;
}
.content0 .asides img{width: 70%; 
    
    margin-bottom: 5vh;
}
#lastimg .asides{
    margin-bottom: 5vh;
}
.content0  h4{
    font-size: 1.05rem;
    margin-bottom: 11%;
}


.text1 figure img{
    all: unset;
    width: 8vw;
    margin-left: 4.5%;
    position: absolute;
    top: 120vh;
    left: 20.5vw;
}
.text2 figure img{
    all: unset;
    width: 8vw;
    margin-left: 4.5%;
    position: absolute;
    top: 120vh;
    left: 51.5vw;
}

figure{
    display: flex;
}
figcaption{
    color: #D7D4B5;
    font-weight: 700;
    font-size: 1.5vw;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.text1 figcaption{top: 124.5vh; left: 26.5vw;}
.text2 figcaption{top: 124.5vh; left:57.5vw;}


/*section3*/

#section3{
    width: 94%;
    margin: 0 auto 40vh;
}
#section3 h1{
    font-size: 1.9rem;
    margin-bottom: 0;
}
#section3 .section1{
    margin-top: 26vh;
     display: flex; 
     margin-right:15px;
    width: 75%;
    
    }
#section3 .section0{
    display: flex; 
    margin-left: auto;
     margin-right: auto; 
     margin-bottom: 0;
    }

#section3 .section1 img{
    width: 45%;
    height: fit-content;
    margin-bottom: 4vh;
    margin-right: 1vw;
}
#section3 .section1 p{
    font-size: 16px;
    margin-bottom: 0vh;
}
.text{margin-left: 20px;  width: 45%; margin-right: 10px;}
.p1{
    width: 100%;
    overflow: hidden;

}
.p2{
    width:55vw;
    font-size: 16px;
    margin-bottom: 10vh;
    margin-left: 1vw;
    margin-top: 0;
}


.section1 , .section2{
    display: inline-block;
}


/*table*/

#section2{width: 60%; margin-left: 10px;}
table {
    width: 100%;
    border-collapse: collapse;  
    margin: 20px 0;
    background-color: #F2F1E7;
    height: 0;
    margin-top: 0;
    margin-right: 0.5vw;
}

table, th, td {
    border: 1px solid #808080;
}

th, td {
    padding: 1.4vw;
    text-align: center;
}

th {
    background-color: #C4BF91;
}

td {
    width: 50%;
}

thead tr th{
    font-size: 1.5rem;
    font-weight: 500;
}
tbody tr td:first-child  {
    font-weight: 700;
    font-size: 0.85rem;
}
tbody tr td:nth-child(2){
    font-size: 1.1rem;
}


/*Certification*/

#section4{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    height: 70vh;
}
#section4 h1{
    font-size: 1.8rem;
    color: #353107;
    margin-right: 15vw;
}

.dropdown-button {
    background-color: #C4BF91;
    color: black;
    padding: 5px 20px;
    font-size: 17px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
  }
  
  .fa-caret-down {
    margin-left: 2vw;
  }
  
  
  #dropdown-list {
    display: none;
    position: absolute;
    background-color: #C4BF91;
    min-width: 30vw;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
    padding: 0px;
    width: 40vw;
    height: 40vh;
  }
  
  #dropdown-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #dropdown-list li {
    padding: 18px 22px;
  }
  
  #dropdown-list li a {
    text-decoration: none;
    color: #353107;
    font-size: 1.1rem;
    font-weight: 550;
  }
  
  #dropdown-list li a:hover {
    font-weight: 900;
    color: rgb(32, 36, 26);
  }




  
/*footer*/
footer{
    height: 350px;
}
.footer{
    margin: 16px auto 20px;
    width: 95%;
}
.lo {
    width: 9%;
    margin-right: 2%;
    margin-top: 4px;
}
.lo img{
    width: 55px;
}
.contact{
    width: 35%; 
    margin-right: 0;
    margin-top: 12px;
}
.socialmedias span , .contact span{
    font-size: 18px;
    margin-top: 28px;
}
.spann span{
    margin-top: 24px;
    font-size: 24px;
}
.contact img{
    width: 44px;
    margin-top: 16px;
}
.email img{margin-right: 5px;}
.contact strong , .contact p{
    font-size: 18px;
    margin-bottom: 1px;
}

.copyrights{
    font-size: 19px;
    width: 400px;
    margin-right: 3%;
    margin-top: 110px;
    padding: 0;
    padding-left: 5px;
    
}

#icons{
    width: 220px;
    margin-right: 0px;
    margin-top: 38px;
    display: flex;
}
.flexx{
    display: block;
}
.flexx :nth-child(1){
    margin-right: 0px;
}
#icons  img{
    width: 40px; height: 40px;
    border-radius: 5px;
    margin-right: 0px;
}
.onef , .twof{display: flex; margin: 0; width: 50%;}
.socialmedias{width: 25%; margin-top: 10px;}
.contactflow strong{
    margin-top: 3px;
}

.address{
    margin-left: 2px;
    margin-top: 24px;
}
.contact .spann{
    text-align: left;
    margin-left: 15px;
}
.onef :nth-child(1) , .twof :nth-child(1){
    margin-right: 14px;
}
.onef{margin-right: 3px;}

}







/*desktop*/

@media(min-width: 1220px){

    
    /*header*/
header{
    padding-left: 32px;
    padding-right: 32px;
}
#nav-bar img{
    width: 70px;
}
#educations{display: none;}

.drop{all: unset; display: none; visibility: hidden;}
.drop.open{all: unset; display: none; visibility: hidden;}
.dp{display: block;}
header .dp ul {
    list-style: none;
}
.dp ul li a {
    text-decoration: none;
    color: #353107;
    font-size: 21px;
    font-weight: 600 ;
  }
.dp ul li{
    display: flex;
    margin-right: 9%;
}
.dp ul{
    display: flex;
    margin-top: 1vh;
    position: absolute;  right: 17%; top: 3.5vh;
 }

#nav-bar{display: block;}

.hamburger-icon {
    display: none;
  }
.dp ul li :hover{
    color: #a7a384;
}
.dp ul :nth-child(3) a{
    border-bottom: 1px solid #353107;
}




/*Body*/


/*section1*/
#heading{
    width: 85%;
    margin-top: 10vh;
}
.heading h1{
    font-size: 1.2rem;
    margin-bottom: 9vh;
    margin-top: 15vh;
    display: block;
}
.heading h1 span{
    all: unset;
    font-size: 2.3rem;
    margin-bottom: 30vh;
    margin-top: 5vh;
}
.heading p{
    font-size: 1.1rem;
    color: #464009;
    margin-bottom: 31vh;
}
.heading{width: 65%;}
#heading .img{
    margin-top: 0vw;
    width: 34%;
    margin-left: 1%;
}
.img img{width: 100%;}



/*section2*/

#contents{
    width: 95vw;
    margin: 28vh auto 35vh;
    display: flex;
}
.content0{
    margin-bottom: 0vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.content0 .asides{
    width: 100%;
    margin-right: 2%;
}
.content0 .descr{
    width: 100%;
}
.content0 .asides img{width: 70%; 
    
    margin-bottom: 7vh;
}
#lastimg .asides{
    margin-bottom: 9vh;
}
.content0  h4{
    font-size: 1.2rem;
    margin-bottom: 11%;
}
#contents p{font-size: 18px;}

.text1 figure img{
    all: unset;
    width: 8vw;
    margin-left: 4.5%;
    position: absolute;
    top: 130vh;
    left: 20.5vw;
}
.text2 figure img{
    all: unset;
    width: 8vw;
    margin-left: 4.5%;
    position: absolute;
    top: 130vh;
    left: 51.5vw;
}

figure{
    display: flex;
}
figcaption{
    color: #D7D4B5;
    font-weight: 700;
    font-size: 1.5vw;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.text1 figcaption{top: 136vh; left: 26.5vw;}
.text2 figcaption{top: 136vh; left:57.5vw;}


/*section3*/

#section3{
    width: 94%;
    margin: 0 auto 45vh;
}
#section3 h1{
    font-size: 2.5rem;
    margin-bottom: 0;
}
#section3 .section1{
    margin-top: 32vh;
     display: flex; 
     margin-right:15px;
    width: 75%;
    
    }
#section3 .section0{
    display: flex; 
    margin-left: auto;
     margin-right: auto; 
     margin-bottom: 0;
    }

#section3 .section1 img{
    width: 50%;
    height: fit-content;
    margin-bottom: 4vh;
    margin-right: 1vw;
}
#section3 .section1 p{
    font-size: 18px;
    margin-bottom: 0vh;
}
.text{margin-left: 20px;  width: 40%; margin-right: 15px;}
.p1{
    width: 100%;
    overflow: hidden;

}
.p2{
    width:52vw;
    font-size: 18px;
    margin-bottom: 10vh;
    margin-left: 0.5vw;
    margin-top: 0;
}


.section1 , .section2{
    display: inline-block;
}


/*table*/

#section2{width: 60%; margin-left: 10px;}
table {
    width: 100%;
    border-collapse: collapse;  
    margin: 20px 0;
    background-color: #F2F1E7;
    height: 0;
    margin-top: 0;
    margin-right: 0.5vw;
}

table, th, td {
    border: 1px solid #808080;
}

th, td {
    padding: 1.4vw;
    text-align: center;
}

th {
    background-color: #C4BF91;
}

td {
    width: 50%;
}

thead tr th{
    font-size: 1.9rem;
    font-weight: 500;
}
tbody tr td:first-child  {
    font-weight: 750;
    font-size: 0.95rem;
}
tbody tr td:nth-child(2){
    font-size: 1.4rem;
}


/*Certification*/

#section4{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    height: 70vh;
}
#section4 h1{
    font-size: 2.8rem;
    color: #353107;
    margin-right: 16vw;
}

.dropdown-button {
    background-color: #C4BF91;
    color: black;
    padding: 5px 40px;
    font-size: 22px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
  }
  
  .fa-caret-down {
    margin-left: 2vw;
  }
  
  
  #dropdown-list {
    display: none;
    position: absolute;
    background-color: #C4BF91;
    min-width: 30vw;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
    padding: 0px;
    width: 40vw;
    height: 48vh;
  }
  
  #dropdown-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #dropdown-list li {
    padding: 18px 28px;
  }
  
  #dropdown-list li a {
    text-decoration: none;
    color: #353107;
    font-size: 1.5rem;
    font-weight: 550;
  }
  
  #dropdown-list li a:hover {
    font-weight: 900;
    color: rgb(32, 36, 26);
  }



/*footer*/
footer{
    height: 500px;
}
.footer{
    margin: 16px auto 20px;
    width: 95%;
}
.lo {
    width: 10%;
    margin-right: 2%;
    margin-top: 8px;
}
.lo img{
    width: 60px;
}
.contact{
    width: 36%; 
    margin-right: 0;
    margin-top: 34px;
    display: block;
}
.socialmedias span , .contact span{
    font-size: 24px;
    margin-top: 28px;
}
.spann span{
    margin-top: 24px;
    font-size: 28px;
}
.contact img{
    width: 70px;
    margin-top: 26px;
}
.email img{margin-right: 5px;}
.contact strong , .contact p{
    font-size: 20px;
    margin-bottom: 5px;
}
.addresss{display: block;}
.copyrights{
    font-size: 24px;
    width: 700px;
    margin-right: unset;
    margin-left: 0;
    margin-top: 110px;
    padding: 0;
    padding-left: 5px;
    
}

#icons{
    width: 250px;
    margin-right: 0px;
    margin-top: 44px;
    display: flex;
    
}
.flexx{
    display: block;
}
.flexx :nth-child(1){
    margin-right: 0px;
}
#icons  img{
    width: 50px; height: 50px;
    border-radius: 5px;
    margin-right: 0px;
}
.onef , .twof{display: flex; margin: 0; width: 50%;}
.socialmedias{width: 20%; margin-top: 24px;}
.contactflow strong{
    margin-top: 8px;
    margin-bottom: 10px;
}
.contactflow{display: flex;}
.address{
    margin-left: 4px;
    margin-top: 34px;
}
.contact .spann{
    text-align: left;
    margin-left: 15px;
}
.onef :nth-child(1) , .twof :nth-child(1){
    margin-right: 14px;
}
.onef{margin-right: 6px;}

}
.socialmedias .spann span{
    padding-left: 0;
}
.flexx{justify-content: center;}