*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{background-color: #D7D4B5; max-width: 100%;}
img{
    max-width: 100%;
}


/*header*/
header{
    background-image: url(../images/img33.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    height: 32vh;
}
#nav-bar img{
    width: 42px;
}
.dp{display: none;}
header ul li a {
    text-decoration: none;
    color: #353107;
    font-size: 13px;
  }
/**/
.drop{
    display: none;
    list-style: none;
    background-color: #C4BF91;
    box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.70);
    border-radius: 7px;
    width: 33%;
    height: 27vh;  
    padding-top: 2.2vh; 
    position: absolute;
    top: 5vh;
    left: 65vw ;
    z-index: 999;
}
.drop li{
    padding-left: 2vw;
    padding-bottom: 1.8vh;
    
}
.drop li a:hover{color: #9990409c ;}
.drop li a{
font-size: 1rem;
font-weight: 500;
}
.drop.open{display: block;}

/**/
.new div{display: none;}
#homee{
    display: block;
    position: absolute;
    top:10px ;
    left: 45.9vw ;
    color: #353107;
    font-size: 16px;
    font-weight: 600 ;
}



.hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    width: 22px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 22px;

  }
.hamburger-icon:hover{ .bar {background-color: #999040;}}
.bar {
    width: 100%;
    height: 24%;
    align-self: center;
    background-color: #212120;
    padding-bottom: 2px;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
    
  }
.hamburger-icon.open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}





.greeting{
    position: absolute;
    top: 9vh;
    left: 7vw;

}
  .greeting span {
    font-size: 9px;
    
  }
.greeting span span{
    font-size: 32px;
    font-weight: bold;
}

.description {
    position: absolute;
    top: 15vh;
    left: 16.6vw;
    font-size: 16px;
}
.tagline{
    font-size: 11px;
    margin-left: 15.2vw;
    margin-top: 20vh;
    opacity: 0.9;
}



/*Body*/

.welcome{
    margin-top: 95px;
    color: #353107 ;
    font-size: large;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px ;
    padding-right: 2px ;
    padding-bottom: 22px;
    border-bottom: 1px solid #999040;
}

.welcome-text{
    margin: 48px 15px 112px ;
}
.welcome-text p{
    padding-bottom: 24px;
    font-size: 14px;
}




.loading{
    color: #353107; 
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
     border-top: 1px solid #999040;
     padding-top: 54px;
     width: 91%;
}
.loading .dot{font-size: 30px; font-weight: bold;} 


.section3{
    width: 93.2%px;
    margin: 0 auto;
    justify-content: center;
}
.article1 , .article2 , .article3 , .article4{
    width: 43.2%;
    height: 275px;
    border: 1px solid rgb(127, 116, 16 , 28%);
    border-radius: 5px;
}
.divsions{
    display: flex;
    margin-bottom: 50px;
}
.article1 h2 , .article2 h2 , .article3 h2 , .article4 h2{
    margin-left: auto;
    margin-right: auto;
    color: #353107;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 24px;
}
.article1 p , .article2 p, .article3 p , .article4 p{
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
    height: 110px;
    width: 75%;
    
}
.article1 , .article3{
    margin-left: auto;
    margin-right: 4% ;
}
.article2 , .article4{
    margin-left: 4%;
    margin-right: auto;
}

.link{
    text-decoration: none;
    background-color: #5A520B;
    border-radius: 17px;
    height: 36px;
    width: 113px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.link:hover{
    background-color: #C4BF91;
}
.link a{
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    
}
.links{
    width: 85px;
    margin: auto auto;
    display: flex;
}
.divsions a span{
    color: #D7D4B5;
    font-size: 13px;
    font-weight: bold;
    margin-right: 7px;
    height: 20px;
}
.fa-solid.fa-angles-right{
    color: #D7D4B5;
    font-size: 20px;
    font-weight: 10px;
}
.article3 , .article4{
    margin-bottom: 330px;
}




/*footer*/
footer{
    height: 175px;
    background-color: #A9A25F;
}
.footer{
    margin: 5px auto 27px;
    width: 95%;
    display: flex;
}
.lo {
    width: 6.7%;
    margin-right: 1.68%;
}
.lo img{
    width: 28px;
}
.contact{
    width: 31.5%; 
    margin-right: 3.6%;
    margin-top: 12px;
}
.socialmedias span , .contact span{
    font-size: 14px;
    margin-top: 6px;
}
.contact img{
    width: 21px;
    margin-top: 4px;
}
.contact strong , .contact p{
    font-size: 9px;
}
.copyrights{
    font-size: 9px;
    width: 28%;
    margin-right: 4%;
    margin-left: 6%;
    margin-top: 27px;
}
.per{
    margin-bottom: 7px;
}
#icons{
    width: 66px;
    margin-left: 8px;
    margin-top: 19px;
}
.flexx{
    display: flex;
}
.flexx :nth-child(1){
    margin-right: 16px;
}
#icons  img{
    width: 22px;
    border-radius: 4px;
    margin-right: 16px;
}
.onef{
    margin-bottom: 8px;
}
.socialmedias{width: 20%; margin-top: 12px;}
.socialmedias.spann{margin-left: 12px; }
.contactflow{
    display: flex;
    margin-bottom: 5px;
}
.contactflow strong{
    margin-top: 3px;
}
.address{
    margin-left: 2px;
}

.contact .spann{margin-bottom: 12px;}






/*responsivness through media query*/
/*mobile landscape*/
@media (min-width:520px) {


    
/*header*/
header{
    padding-left: 16px;
    padding-right: 16px;
    height: 39vh;
}
#nav-bar img{
    width: 45px;
}

#homee{
    position: absolute;
    top: 12px;
    left: 45.9vw;
    font-weight: 600 ;
    font-size: 16px
}
/**/
.drop{
    width: 32%;
    height: 31vh;  
    padding-top: 2.3vh; 
    top: 4.5vh;
    left: 65vw ;
    z-index: 999;
}
.drop li{
    padding-left: 3.1vw;
    padding-bottom: 2.1vh;
    
}
.drop li a:hover{color: #9990409c ;}
.drop li a{
font-size: 1.05rem;
font-weight: 500;
}
.drop.open{display: block;}

/**/


.hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    width: 22px;
    height: 19px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 22px;

  }
  
.bar {
    width: 100%;
    height: 24%;
    align-self: center;
    background-color: #212120;
    padding-bottom: 2px;
    border-radius: 20px;
    
  }
  .hamburger-icon.open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}




.greeting{
    position: absolute;
    top: 70px;
    left: 8vw;

}
  .greeting span {
    font-size: 9px;
    
  }
.greeting span span{
    font-size: 32px;
    font-weight: bold;
}

.description {
    position: absolute;
    top: 114px;
    left: 18vw ;
    font-size: 16px;
}
.tagline{
    font-size: 11px;
    margin-left: 15vw;
    margin-top: 170px;
    opacity: 0.9;
}






/*Body*/

.welcome{
    margin-top: 120px;
    font-size: 22px;
    width: 140px;
    padding-bottom: 32px;
}

.welcome-text{
    margin: 50px 25px 125px ;
}
.welcome-text p{
    padding-bottom: 25px;
}




.loading{
    font-size: 29px;
    margin-left: 5%;
    padding-top: 60px;
    width: 89%;
}
.loading .dot{font-size: 34px;} 


.section3{
    width: 95%;
    height: 500px;
    display: flex;
    margin-bottom: 50px;
    padding-left: auto;
    padding-right: auto;
}
.article1 , .article2 , .article3 , .article4 {
    width: 40%;
    height: 300px;
}

.article1 h2 , .article2 h2 , .article3 h2 , .article4 h2{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 14px;
}
.article1 p , .article2 p, .article3 p , .article4 p{
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 95px;
    height: 110px;
}
.article1 , .article3{
    margin-right: 0px;
}
.article2 , .article4{
    margin-left: 0px;
}
.article1  , .article3{
    margin-right: 5%;
}
.article2{margin-right: 0px;}
.link{
    border-radius: 15px;
    height: 30px;
    width: 85px;
}


.links{
    width: 65px;
}
.divsions a span{
    font-size: 10px;
    margin-right: 4px;
    height: 16px;
}
.fa-solid.fa-angles-right{
    font-size: 16px;
    font-weight: 6px;
}




/*footer*/
footer{
    height: 170px;
}
.footer{
    margin: 8px auto 45px;
    width: 95%;
}
.lo {
    width: 8%;
    margin-right: 5px;
    margin-top: 4px;
}
.lo img{
    width: 35px;
}
.contact{
    width: 850px; 
    margin-right: 3.6%;
    margin-top: 4px;
}
.email , .phone , .addresss{
    display: inline-block;
}
.contactflow img , .address{display: inline-block;}
.spann{margin-bottom: 18px;}
.socialmedias span , .contact span{
    font-size: 11px;
    margin-top: 5px;
}
.contact img{
    width: 19px;
    margin-top: 4px;
}
.contact strong , .contact p{
    font-size: 8px;
}
.copyrights{
    font-size: 9px;
    width: 40%;
    margin-right: 3%;
    margin-top: 27px;
}
.per{
    margin-bottom: 10px;
}

#icons{
    width: 66px;
    margin-left: 1px;
    margin-top: 19px;
    display: flex;
}

.flexx :nth-child(1){
    margin-right: 0px;
}
#icons  img{
    width: 20px;
    border-radius: 5px;
    margin-right: 0px;
}
.onef{
    margin-bottom: 0px;
}
.socialmedias{width: 29%; margin-top: 4px;}

.contactflow strong{
    margin-top: 3px;
}
.address{
    margin-left: 2px;
}
.onef :nth-child(1){margin-right: 4px;}
.onef :nth-child(2){margin-right: 4px;}
.twof :nth-child(1){margin-right: 4px;}
.spann span{font-size: 16px;}


  
}






/*tablet portrait*/


/*header*/

@media(min-width:768px){


header{
    padding-left: 18px;
    padding-right: 20px;
    padding-top: 4px;
    height: 45vh;
}
#nav-bar img{
    width: 50px;
}


#homee{
    top:12px ;
    font-weight: 500 ;
    font-size: 21px;
}
/**/
.drop {
    width: 30%;
    height: 41vh;  
    padding-top: 3.6vh; 
    margin-top: 2vh;
    left: 68vw;
    top: 7vh;
}
.drop li{
    padding-left: 3.5vw;
    padding-bottom: 3vh;
    
}
.drop li a{
font-size: 1.5rem;}
/**/


.hamburger-icon {
    gap: 8px;
    width: 30px;
    height: 28px;
    top: 16px;
    right: 34px;

  }
  
.bar {
    width: 100%;
    height: 24%;
    align-self: center;
    background-color: #212120;
    padding-bottom: 2px;
    border-radius: 20px;
    
  }

  .hamburger-icon.open .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open .bar:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
}




.greeting{
    top: 10vh;
    left: 8vw;

}
  .greeting span {
    font-size: 1em;
    
  }
.greeting span span{
    margin-left: 3px;
    font-size: 3.2rem;
}

.description {
    top: 19vh;
    left: 20vw;
    font-size: 1.5em;
}
.tagline{
    font-size: 1em;
    margin-left: 18vw;
    margin-top: 30vh;
    opacity: 0.9;
}



/*Body*/

.welcome{
    margin-top: 200px;
    font-size: 25px;
    width: 165px;
    padding-bottom: 30px;
   
}

.welcome-text{
    margin: 100px 30px 150px ;
}
.welcome-text p{
    padding-bottom: 22px;
    font-size: 16px;
}
.welcome-text span{ font-size: 16px;}



.loading{
    font-size: 28px;
    margin-bottom: 56px;
     padding-top: px;
     width: 85%;
     padding-left: 30px;
}
.loading .dot{font-size: 40px;} 


.section3{
    width: 640px;
    height: auto;
    margin: 0 auto 330px;
    justify-content: center;
}
.section3{display: block;}
.article1 , .article2 , .article3 , .article4{
    width: 50%;
    height: 350px;
    background-color: #F2F1E7;
    margin: 0;
}
.section3.divsions{
    display: flex;
    margin-bottom: 0px;
}
.article1 h2 , .article2 h2 , .article3 h2 , .article4 h2{
  
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 28px;
}
.article1 p , .article2 p, .article3 p , .article4 p{
    font-size: 16px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 50px;
    height: 150px;
    
}
.article1 , .article3{
    margin-right: 5%;
}
.article2 , .article4{
    margin-left: 5%;
}

.link{
    border-radius: 25px;
    height: 42px;
    width: 140px; 
}
.links{
    width: 110px;
}
.divsions a span{
    font-size: 16px;
    margin-right: 12px;
    height: 20px;
    padding-top: 1px;
}
.fa-solid.fa-angles-right{
    font-size: 27px;
    font-weight: 8px;
}
.article3 , .article4{
    margin-bottom: 290px;
}




/*footer*/
footer{
    height: 350px;
    width: 100%;
}
.footer{
    margin: 15px auto 27px;
    width: 95%;
}
.lo {
    width: 9%;
    margin-right: 2%;
    margin-top: 4px;
}
.lo img{
    width: 45px;
}
.contact{
    width: 32%; 
    margin-right: 3.6%;
    margin-top: 12px;
}
.socialmedias span , .contact span{
    font-size: 16px;
    margin-top: 28px;
}
.spann{
    margin-top: 18px;
    margin-left: 8px;
    text-align: center;
}
.contact img{
    width: 38px;
    margin-top: 16px;
}
.contact strong , .contact p{
    font-size: 15px;
    margin-bottom: 1px;
}

.copyrights{
    font-size: 16px;
    width: 37%;
    margin-right: 1%;
    margin-top: 138px;
}
.per{
    margin-bottom: 7px;
}
#icons{
    width: 160px;
    margin-left: 0px;
    margin-top: 24px;
    display: flex;
}
.flexx{
    display: block;
}
.flexx :nth-child(1){
    margin-right: 0px;
}
#icons  img{
    width: 33px;
    border-radius: 5px;
    margin-right: 18px;
}
.onef , .twof{display: flex;}
.onef{
    margin-bottom: 8px;
}
.socialmedias{width: 25%; margin-top: 12px;}
.contactflow strong{
    margin-top: 3px;
}
.address{
    margin-left: 2px;
    margin-top: 24px;
}
.email{display: flex;}
.spann span{font-size: 20px;}



}





/*tablet landscpe*/

@media(min-width: 1024px) {

    
header{
    padding-left: 24px;
    padding-right: 26px;
    padding-top: 15px;
    background-position: right;
    height: 60vh;
}

#homee{
    top:22px ;
    font-weight: 500 ;
    font-size: 28px;
}

/**/
.drop {
    width: 28%;
    height: 41vh;  
    padding-top: 3.6vh; 
    margin-top: 2vh;
    left: 70vw;
}
/**/

.hamburger-icon {
    width: 40px;
    top: 16px;
    right: 36px;
  }
  
.bar {
    width: 100%;
    height: 24%;    
  }



.greeting{
    top: 18vh;
    left: 12vw;

}

.greeting span span{
    margin-left: 6px;
    font-size: 3.5rem;
}

.description {
    top: 28vh;
    left: 21vw;
    
}
.tagline{

    font-size: 1.2em;
    margin-left: 18vw;
    margin-top: 40vh;
}



/*Body*/

.welcome{
    margin-top: 230px;
    font-size: 32px;
    width: 215px;
    padding-bottom: 50px;
   
}

.welcome-text{
    margin: 100px 60px 170px ;
}
.welcome-text p{
    padding-bottom: 22px;
    font-size: 22px;
}




.loading{
    font-size: 34px;
    margin-bottom: 70px;
     padding-top: 90px;
     width: 90%;
     padding-left: 0px;
}
.loading .dot{font-size: 50px;} 


.section3{
    width: 90%;
    display: flex;
    padding: 0;
}
.article1 , .article2 , .article3 , .article4{
    width: 430px;
    height: 370px;
}
.divsions{
    display: flex;
    margin: 0px;
    width: 50%;
}
.article1 h2 , .article2 h2 , .article3 h2 , .article4 h2{
  
    padding-top: 18px;
    padding-bottom: 24px;
}
.article1 p , .article2 p, .article3 p , .article4 p{
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
    height: 150px;
    width: 83%;
    
}
.article1 , .article2 , .article3{
    margin-right: 5%;
}
.article2 , .article4{
    margin-left: 0px;
}

.link{
    border-radius: 30px;
    height: 52px;
    width: 150px; 
}
.links{
    width: 120px;
}
.divsions a span{
    font-size: 18px;
    margin-right: 10px;
    height: 20px;
    padding-top: 1px;
}
.fa-solid.fa-angles-right{
    font-size: 30px;
    font-weight: 3px;
}
.article3 , .article4{
    margin-bottom: 120px;
}




/*footer*/
footer{
    height: 350px;
}
.footer{
    margin: 16px auto 20px;
    width: 95%;
}
.lo {
    width: 9%;
    margin-right: 2%;
    margin-top: 4px;
}
.lo img{
    width: 55px;
}
.contact{
    width: 35%; 
    margin-right: 0;
    margin-top: 12px;
}
.socialmedias span , .contact span{
    font-size: 18px;
    margin-top: 28px;
}
.spann span{
    margin-top: 24px;
    font-size: 24px;
}
.contact img{
    width: 44px;
    margin-top: 16px;
}
.email img{margin-right: 5px;}
.contact strong , .contact p{
    font-size: 18px;
    margin-bottom: 1px;
}

.copyrights{
    font-size: 19px;
    width: 400px;
    margin-right: 3%;
    margin-top: 110px;
    padding: 0;
    padding-left: 5px;
    
}

#icons{
    width: 220px;
    margin-right: 0px;
    margin-top: 38px;
    display: flex;
}
.flexx{
    display: block;
}
.flexx :nth-child(1){
    margin-right: 0px;
}
#icons  img{
    width: 40px; height: 40px;
    border-radius: 5px;
    margin-right: 0px;
}
.onef , .twof{display: flex; margin: 0; width: 50%;}
.socialmedias{width: 25%; margin-top: 10px;}
.contactflow strong{
    margin-top: 3px;
}

.address{
    margin-left: 2px;
    margin-top: 24px;
}
.contact .spann{
    text-align: left;
    margin-left: 15px;
}
.onef :nth-child(1) , .twof :nth-child(1){
    margin-right: 14px;
}
.onef{margin-right: 3px;}

}







/*desktop*/

@media(min-width: 1220px){

    
    /*header*/
header{
    padding-left: 32px;
    padding-right: 32px;
    background-position: 8% 35%;
    height: 75vh;
}
#nav-bar img{
    width: 70px;
}
#homee{display: none;}

.drop{all: unset; display: none; visibility: hidden;}
.drop.open{all: unset; display: none; visibility: hidden;}
.dp{display: block;}
header .dp ul {
    list-style: none;
}
.dp ul li a {
    text-decoration: none;
    color: #353107;
    font-size: 21px;
    font-weight: 600 ;
  }
.dp ul li{
    display: flex;
    margin-right: 9%;
}
.dp ul{
    display: flex;
    margin-top: 1vh;
    position: absolute;  right: 17%; top: 3.5vh;
 }

#nav-bar{display: block;}

.hamburger-icon {
    display: none;
  }
.dp ul li :hover{
    color: #C4BF91;
}
.dp ul :nth-child(1) a{
    border-bottom: 1px solid #353107;
}


.greeting{
    top: 23vh;
    left: 13vw;
}
.greeting span{font-size: 1.4rem;}
.greeting span span{
    margin-left: 6px;
    font-size: 4rem;
}

.description {
    top: 36vh;
    left: 24vw;
    font-size: 1.9rem;
}
.tagline{

    font-size: 1.2rem;
    margin-left: 22vw;
    margin-top: 54vh;
}



/*Body*/

.welcome-text{
    margin: 100px 160px 170px ;
}
.welcome-text p{
    padding-bottom: 50px;
    font-size: 24px;
}
.welcome-text span{font-size: 24px;}


#section1{margin-bottom: 300px;}
.loading{
    font-size: 40px;
    margin-bottom: 90px;
     padding-top: 80px;
}
.loading .dot{font-size: 70px;} 


.section3{width: 95%;}
.article1 , .article2 , .article3 , .article4{
    width: 40%px;
    height: 430px;
    border-radius: 10px;
}
.divsions{
    width: 48%;
}
.article1 h2 , .article2 h2 , .article3 h2 , .article4 h2{

    font-size: 26px;
    padding-top: 24px;
    padding-bottom: 30px;
}
.article1 p , .article2 p, .article3 p , .article4 p{
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 78px;
    height: 150px;
    width: 80%;
    
}
.article1 , .article2 , .article3{
    margin-right: 6%;
}


.link{
    border-radius: 45px;
    height: 58px;
    width: 170px; 
}
.links{
    width: 135px;
}
.divsions a span{
    font-size: 20px;
    margin-right: 10px;
    height: 20px;
    padding-top: 1%;
}
.fa-solid.fa-angles-right{
    font-size: 35px;
}
.article3 , .article4{
    margin-bottom: 120px;
}




/*footer*/
footer{
    height: 500px;
}
.footer{
    margin: 16px auto 20px;
    width: 95%;
}
.lo {
    width: 10%;
    margin-right: 2%;
    margin-top: 8px;
}
.lo img{
    width: 60px;
}
.contact{
    width: 31%; 
    margin-right: 0;
    margin-top: 34px;
    display: block;
}
.socialmedias span , .contact span{
    font-size: 24px;
    margin-top: 28px;
}
.spann span{
    margin-top: 24px;
    font-size: 28px;
}
.contact img{
    width: 70px;
    margin-top: 26px;
}
.email img{margin-right: 5px;}
.contact strong , .contact p{
    font-size: 20px;
    margin-bottom: 5px;
}
.addresss{display: block;}
.copyrights{
    font-size: 24px;
    width: 700px;
    margin-right: unset;
    margin-left: 0;
    margin-top: 110px;
    padding: 0;
    padding-left: 5px;
    
}

#icons{
    width: 260px;
    margin-right: 0px;
    margin-top: 44px;
    display: flex;
    
}
.flexx{
    display: block;
}
.flexx :nth-child(1){
    margin-right: 0px;
}
#icons  img{
    width: 50px; height: 50px;
    border-radius: 5px;
    margin-right: 0px;
}
.onef , .twof{display: flex; margin: 0; width: 50%;}
.socialmedias{width: 20%; margin-top: 24px;}
.contactflow strong{
    margin-top: 8px;
    margin-bottom: 10px;
}

.address{
    margin-left: 8px;
    margin-top: 34px;
}
.contact .spann{
    text-align: left;
    margin-left: 15px;
}
.onef :nth-child(1) , .twof :nth-child(1){
    margin-right: 14px;
}
.onef{margin-right: 6px;}

}
.socialmedias .spann span{
    padding-left: 0;
}
.flexx{justify-content: center;}